# Install PyTorch and PyTorch3D separately for your CUDA version first.
accelerate
diffusers
einops
fastapi
gradio
imageio
kornia
matplotlib
ninja
numba
numpy
omegaconf
onnxruntime
open-clip-torch
open3d
opencv-python
plyfile
pybind11
pygltflib
pymeshlab
pytorch-lightning==1.9.1
rembg
scikit-image
scikit-learn
scipy
torchviz
tqdm
transformers
trimesh
triton
uvicorn
xatlas

